[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.vscode/
*.vssscc
*.vspscc
*_i.c
*_p.c
*.ncb
*.sbr
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sln.docstates

.idea/
*.sln.iml
*.iws
*.ipr
.idea_modules/
out/

project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
*.nupkg

#!**/[Pp]ackages/repositories.config
*.nuget.props
*.nuget.targets

.DS_Store
Thumbs.db
Desktop.ini
*.tmp
*.swp
*~.nib

*.coverage
*.coveragexml
*.dotCover